*{
    margin: 0;
    padding: 0;
    height: auto;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
    font-family: 'poppins', sans-serif;
    transition: 5s;
}
/* header session */
header{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    color: black;
    background-color: azure;
    z-index: 2000;
}
#nav{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.header-links{
    display: flex; 
    margin-top: 5px;
    
}

.header-links-inside a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin-right: 20px;
}
.header-links-inside a:hover{
    text-decoration: underline;
    color: orangered;
}
.menu-bar-opentag{
    display: none;    
    margin-top: 5px;
    font-size: 30px;
    cursor: pointer;
}
.menu-bar-opentag:hover{
    color: red;
}
.header-head--media a,
.header-head a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    word-spacing: -0.3rem;
}
.header-head--media{
    display: none;
}
.header-head-contact a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    word-spacing: -0.3rem;
}
.header-head a:hover{
    color: red;
}
#header-contact-icons{
    margin-right: 5px;
    color: forestgreen;
    font-size: 20px;
}
#header-head-icons{
    margin-left: 5px;
    color: forestgreen;
    font-size: 20px;
}
/* header session end */

/* side nav header */
#side-nav-bar{
    background-color: #141920;
    width: 100%;
    height: 50%;
    position: fixed;
    top: -50%;
    z-index: 2000;
    transition: 1.5s;
}
.side-nav-closebar{
    text-align: right;
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 15px;
}
.side-nav-closebar:hover{
    color: red;
}
.sidenav-links{
    margin-left: 55px;
    margin-top: 40px;
}
.sidenav-links-inside a{
    text-decoration: none;
    color: white;
}
.sidenav-links-inside{
    margin-bottom: 30px;
}
.sidenav-links-inside a:hover{
    color: red;
    text-decoration: underline;
}
/* side nav end  */
/* Home session */
#home-session{
    margin: 50px 1px 1px 1px;
}
.home-image{
    background-image: url("images/background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    transition: background-image 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.home-slide-btn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.home-slide-btn input {
    width: 1px;
    height: 1px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50%;
    appearance: none;
    transform: scale(0.6);
}
.home-slide-btn input:hover {
    background-color: rgb(54, 25, 25);
}
.home-slide-btn input:checked{
    background-color: rgb(138, 2, 2);
}
.home-slider-img-arow{
    width: 37px;
    height: 37px;
    top: 47%;
    cursor: pointer;
    transform: translate(-47%);
    position: absolute;
    background-color: #087bf7f1;
    border-radius: 100%;
}
.home-slider-img-arow:hover{
    background-color: blue;
}
.home-slide-right{
    right: 3%;
    transform: translate(-3%);
}
.home-slide-left{
    left: 3%;
    transform: translate(-3%);
}

.home-btn{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 10px 30px;
    background-color: rgb(175, 0, 0);
    border: 1px solid rgb(11, 1, 1);
    border-radius: 50px;
    display: grid;
    grid-template-columns: auto;
    font-size: 18px;
}
.home-btn a{
    color: white;
    text-decoration: none;
}
.home-btn:hover{
    background-color: rgba(230, 8, 8, 0.4);
}
.home-btn a:hover{
    color: white;
}


/* Home session end */

/* post session */
.post-session {
    margin: 50px 20px 50px 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.post-edit {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fdfdfd;
    transition: transform 0.3s, box-shadow 0.3s;
}

.post-edit {
    opacity: 0; 
    transform: translateX(50px);
    transition: all 0.9s ease-out;
}

.post-edit.visible {
    opacity: 1; 
    transform: translateX(0); 
}
.post-edit.hidden{
    opacity: 0;
    transform: translateX(-50px);
}


.post-edit:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.post-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.post-img{
    text-decoration: none;
    color: #000000;
}

.post-head {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}

.post-mini-para {
    font-size: 0.95rem;
    color: #555;
    margin: 10px;
    padding: 0 7px;
    line-height: 1.5;
}

.post-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition :0.3s;
}

.post-btn:hover {
    background-color: #0056b3;
}
/* Posts Section  end*/

/*Contact section*/
.contact-body{
    background-image: url("images/backgroundimg5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.contact-session{
    margin-top: 120px;
}
.contact-details{
    text-align: center;
}
.Contact{
    background-color: #1D232C;
    color: white;
    margin: 3%;
    padding-top: 20px;
    padding-bottom: 21px;
    border-radius: 10px;
}

.contact ,.Contact-box{
   padding: 1% 5%;
}


.contact-box ,input{
   padding: 11px;
   width:75vw;
   margin-bottom: 10px;
   border: solid black 2px;
   border-radius: 10px;
   font-size: 20px;
}

.Contact-box .Message{
   padding-bottom: 100px;
   
}

.Contact-button{
   background-color: red;
   color: white;
   padding: 8px 40px;
   margin-left: 6%;
   margin-bottom: 3%;
   cursor: pointer;
   border: none;
   border-radius: 10px;
   
}
.contact-information{
    margin-top: -15px;
    display: flex;
    justify-content: space-around;
    margin-bottom:50px;
}
.contact{
    background-color: #ffe3e3;
    margin: 10px 85px;
    border-radius: 20px;
    padding: 15px 60px;
}
.contact-head{
    color: rgb(0, 0, 0);
}
.contact-link{
    margin-top: 20px;
    font-size: 22px;
}
.contact-map {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.contact-sub-head{
    margin-top: 10px;
    padding-left: 10px;
}
.contact-map iframe{
    border-radius: 20px;
}
.contact-sub-head-link{
    margin-top: 10px;
    margin-left: 25px;
    text-decoration: none;
    color: #0056b3;
}
.contact-sub-head-link:hover{
    color: #ff0303;
}
.whatsapp-logo{
    position: fixed;
    z-index: 2000;
    bottom: 25px;
    right: 25px;
    animation: spin 0.9s ease-in-out;
}
@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
#whatsapp-icons{
    font-size: 95px;
}
#whatsapp-icons:hover{
    transform: scale(1.2);
}

/* about session */
.about-body{
    background-image: url("images/backgroundimg.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

}
.about-radio-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    display: flex;
    bottom: 50px;
}
.about-radio-btn input{
    width: 1px;
    height: 1px;
    cursor: pointer;
    background-color: #fa5c5c;
    border: 2px solid black;
    border-radius: 50%;
    appearance: none;
    transform: scale(0.6);
}
.about-radio-btn input:hover{
    background-color: #ff0303;
}
.about-radio-btn input:checked{
    background-color: yellow;
}
.about-home-image{
    background-image: url("images/moonlit5.jpeg");
    background-size:cover; 
    margin-top: 90px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    transition: background-image 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.about-arow{
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(-50%);
    position: absolute;
    cursor: pointer;
    background-color: tomato;
    border-radius: 100%;
    padding: 1px;
}

.about-btn{
    top: 50%;
    transform: translate(-50%);
}
.about-arow:hover{
    background-color: rgb(218, 33, 1);
}
.left-arow{
    left: 3%;
    transform: translate(-3%);
}
.right-arow{
    right: 3%;
    transform: translate(-3%);
}

.about-container{
    margin: 35px;
    padding: 20px;
}



/* about session end  */


/* single post session */
.single-post {
    margin: 150px 20px 20px 20px ;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 100%;
}

.single-post-inside {
    padding: 20px;
}

.single-post-head {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
    font-family: Arial, sans-serif;
}

.single-post-content {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    margin-top: 20px;
    text-align: justify;
}

.single-post-content-para {
    margin: 20px 0;
}


.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.slider-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    scrollbar-width: none; 
}

.slider-container::-webkit-scrollbar {
    display: none; 
}

.slider-container div {
    display: flex;
}

.slider-container img {
    min-width: 400px;
    height: 350px;
    margin: 8px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
    filter: grayscale(50%);
}

.slider-container img:hover {
    transform: scale(1.02);
    filter: grayscale(0);
}


/* single post end */

/* footer */
footer{
   background-color: #141920;
   color: aliceblue;
   padding: 20px;
   padding-top: 70px;
   bottom: 0px;
}
.Footer-logo-img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.Footer-logo-img:hover {
    transform: scale(1.2); 
}
.footer-links{
    text-decoration: none;
    color: rgb(11, 255, 11);
}
.footer-head-links,
.footer-logo,
.footer-links,
.footer-copyright{
    margin: 10px;
}


/* footer end */



/* mobile mode  */
@media scrren and (max-width:350px){
    .menu-bar-opentag{
        display: block;
    }
    .header-links{
        display: none;
    }    
    .header-head-contact{
        display: none;
    }
    .header-head--media{
        display: block;
    }
    .header-head{
        display: none;
    }
    .contact-information{
        margin-top: -15px;
        display: inline;
        margin-bottom:50px;
    }
    .contact{
        background-color: #ffe3e3;
        margin: 10px 40px;
        border-radius: 20px;
        padding: 10px 20px;
    }
    .contact-map iframe{
        width: 270px;
        height: 270px;
    }
    .contact-map{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .posts {
        grid-template-columns: 1fr ;
    }

    .post-img img {
        height: 150px;
    }
    .whatsapp-logo{
        z-index: 2000;
        bottom: 22px;
        right: 22px;
        position:fixed;
    }
    #whatsapp-icons{
        font-size: 40px;
    }
    .single-post {
        padding: 10px;
    }
    .home-slide-right{
        right: 5%;
        transform: translate(-5%);
    }
    .home-slide-left{
        left: 5%;
        transform: translate(-5%);
    }
    .home-slide-btn input {
        transform: scale(0.4);
    }
    .single-post-head {
        font-size: 1.5rem;
    }

    .slider-container img {
        min-width: 230px;
        height: 210px;
        margin: 7px;
    }

    .side-btn {
        width: 30px;
        height: 30px;
    }
    .about-home-image{
        background-size:contain;
        width: 100%;
        height: 90vh;
    }
    .about-radio-btn{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .menu-bar-opentag{
        display: block;
    }
    .header-links{
        display: none;
    }    
    .header-head-contact{
        display: none;
    }
    .header-head--media{
        display: block;
    }
    .header-head{
        display: none;
    }
    .home-slide-btn input {
        transform: scale(0.4);
    }


    .Contact-box h3{
        font-size: 16px;
    }
    .Contact-box input{
        font-size: 16px;
    }
    .contact-information{
        margin-top: -15px;
        display: inline;
        margin-bottom:50px;
    }
    .contact-map iframe{
        width: 260px;
        height: 260px;
    }
    .contact{
        background-color: #ffe3e3;
        margin: 10px 50px;
        border-radius: 20px;
        padding: 10px 10px;
    }
    .contact-head{
        font-size: 22px;
    }
    .contact-link{
        font-size: 16px;
    }
    .contact{
        display:grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact-map{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .posts {
        grid-template-columns: 1fr ;
    }

    .post-img img {
        height: 150px;
    }
    .whatsapp-logo{
        z-index: 2000;
        bottom: 22px;
        right: 22px;
        position:fixed;
    }
    #whatsapp-icons{
        font-size: 40px;
    }
    .single-post {
        padding: 10px;
    }

    .single-post-head {
        font-size: 1.5rem;
    }

    .slider-container img {
        min-width: 270px;
        height: 250px;
        margin: 7px;
    }

    .side-btn {
        width: 30px;
        height: 30px;
    }

    .side-btn img {
        width: 15px;
        height: 15px;
    }
    #whatsapp-icons{
        font-size: 85px;
        
    }
    
    .about-arow{
        width: 30px;
        height: 30px;
    }
    .about-radio-btn input{
        transform: scale(0.5);
    }
    .about-btn{
        padding: 6px 20px;
    }
    .about-home-image{
        background-size:contain;
        width: 100%;
        height: 90vh;
    }
    .about-radio-btn{
        display: none;
    }
    
}
/* tab mode */
@media  (min-width:651px) and (max-width:1100px) {
    .menu-bar-opentag{
        display: block;
    }
    .header-links{
        display: none;
    }    
    .header-head-contact{
        display: none;
    }
    .posts {
        grid-template-columns: 1fr 1fr;
    }
    
    .contact-head{
        font-size: 25px;
    }
    .contact-link{
        font-size: 18px;
    }
    .contact-map iframe{
        width: 270px;
        height: 320px;
    }
    .contact{
        background-color: #ffe3e3;
        margin: 15px 10px;
        border-radius: 20px;
        padding: 10px 35px;
    }
    .post-img img {
        height: 150px;
    }

    .single-post {
        padding: 15px;
    }

    .single-post-head {
        font-size: 1.8rem;
    }

    .slider-container img {
        min-width: 450px;
        height: 250px;
    }

    .side-btn {
        width: 35px;
        height: 35px;
    }

    .side-btn img {
        width: 18px;
        height: 18px;
    }
    
    
}